{% extends 'base.html.twig' %}

{% block title 'Éditer un utilisateur' %}

{% block body %}
    <div class="container my-4">
        <h1>Éditer l'utilisateur {{ user.username }}</h1>
        <i class="text-danger">N'oubliez pas de sauvegarder les modifications</i>
        {{ include('admin/user/_form.html.twig') }}
    </div>
{% endblock %}

