{% extends 'base.html.twig' %}

{% block title %}Détails pour {{ command.reference }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a href="{{ path('command.index') }}">Retour aux commandes</a>
        <h1 class="red">Détails pour la commande {{ command.reference }}</h1>
        <div class="order-tracking-line-container">
            <div class="order-tracking-line">
                <div class="tracking-step">
                    <div class="tracking-point green"></div>
                    <div class="tracking-text">fichier(s) reçu(s)</div>
                </div>
                <div class="tracking-step">
                    <div class="tracking-point green"></div>
                    <div class="tracking-text">B.A.T. reçu</div>
                </div>
                <div class="tracking-step">
                    <div class="tracking-point green"></div>
                    <div class="tracking-text">production terminée</div>
                </div>
                <div class="tracking-step">
                    <div class="tracking-point orange"></div>
                    <div class="tracking-text">en cours de livraison</div>
                </div>
                <div class="tracking-step">
                    <div class="tracking-point grey"></div>
                    <div class="tracking-text">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="order-blocks">
            <div class="order-block order-infos">
                <h1 class="order-block-title">Informations sur la commande :</h1>
                <div class="order-block-content">
                    <p><b>Quantité commandée :</b> WIP</p>
                    <p><b>Commande passée le
                            :</b> WIP</p>
                    <p><b>Commande mise à jour le
                            :</b> WIP</p>
                    <p><b>Estimation livraison :</b> <span class="text-danger">WIP</span></p>
                    <p><b>État de la commande :</b> WIP</p>
                    <p><b>Stock actuel : </b> WIP </p>
                    {% if TRUE %}
                        <a href="#" data-toggle="modal" data-target="#filesModal">
                            Voir les fichiers joints (<span class="text-danger font-weight-bold">WIP</span>)
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="order-block order-tracking">
                <h1 class="order-block-title">Suivi de la livraison :</h1>
                <div class="order-block-content">
                    <span class="text-danger font-weight-bold">WIP</span>
                </div>
            </div>
            {% if TRUE %}
                <div class="modal fade bd-example-modal-lg" id="filesModal" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title red">Fichiers joints</h3>
                                <button type="button" class="close-icon" data-dismiss="modal" aria-label="Close">
                                    <img src="">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row files-container">
                                    <div class="col-2 text-break single-file">
                                        <div class="file-icon-container px-2">
                                            <img src="#" alt=""
                                                 class="file-icon img-fluid">
                                        </div>
                                        <p class="text-break text-center mt-1 d-inline-block w-100">
                                            WIP
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


