{% extends 'base.html.twig' %}

{% block title 'Accueil administrateur' %}

{% block body %}
    <div class="container mt-4">
        <h1>Accueil administrateur</h1>
        <a href="{{ path('admin.command.index') }}">Gérer les commandes</a>
    </div>
{% endblock %}
