{% extends 'base.html.twig' %}

{% block title 'Accueil administrateur' %}

{% block body %}
    <div class="container my-4">
        <h1>Accueil administrateur</h1>
        <a href="{{ path('admin.command.index') }}">Gérer les commandes</a>
        <a href="{{ path('admin.product.index') }}">Gérer les produits</a>
    </div>
{% endblock %}
