{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a
                            href="{{ '/Users/leo/Documents/Public/swissapp/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code>
            </li>
            <li>Your template at <code><a
                            href="{{ '/Users/leo/Documents/Public/swissapp/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code>
            </li>
        </ul>
    </div>
{% endblock %}
