{% extends 'base.html.twig' %}

{% block title 'Éditer la commande' %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer la commande {{ command.reference }}</h1>
        {{ include('admin/command/_form.html.twig') }}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{% endblock %}

{% block javascripts %}
{% endblock %}


