{% extends 'base.html.twig' %}

{% block title 'Nouvelle commande' %}

{% block body %}
    <div class="container mt-4">
        <h1>Nouvelle commande</h1>
        {{ include('admin/command/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
    <script>
        $('.items select').select2();
    </script>
    <script>
        let addButton;
        let removeButton;
        let newItemDiv;

        $(document).ready(function () {
            let itemsHolder;

            // setup an "add a tag" link
            addButton = $('<button type="button" class="add_item_link">Ajouter un élément</button>');
            removeButton = $('<button type="button">Delete this item</button>');
            newItemDiv = $('<div></div>').append(addButton);

            // Get the ul that holds the collection of tags
            itemsHolder = $('div.items');

            $('.item').each(function () {
                console.log($(this));
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            itemsHolder.append(newItemDiv);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            itemsHolder.data('index', itemsHolder.find(':input').length);

            addButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addItemForm(itemsHolder, newItemDiv);
            });
        });

        function addItemForm(itemsHolder, newItemDiv) {
            // Get the data-prototype explained earlier
            let prototype = itemsHolder.data('prototype');

            // get the new index
            let index = itemsHolder.data('index');

            let newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            itemsHolder.data('index', index + 1);

            let newFormDiv = $('<div></div>').append(newForm);
            newItemDiv.before(newFormDiv);

            addTagFormDeleteLink(newItemDiv);
        }

        function addTagFormDeleteLink(newItemDiv) {
            newItemDiv.append(removeButton);

            removeButton.on('click', function (e) {
                // remove the li for the tag form
                newItemDiv.remove();
            });
        }
    </script>
{% endblock %}

