{% extends 'base.html.twig' %}

{% block title 'Nouvelle commande' %}

{% block body %}
    <div class="container mt-4">
        <h1>Nouvelle commande</h1>
        {{ include('admin/command/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

