{% extends 'base.html.twig' %}

{% block title 'Éditer le produit' %}

{% block body %}
    <div class="container my-4">
        <h1>Éditer le produit {{ product.reference }}</h1>
        <i class="text-danger">N'oubliez pas de sauvegarder les modifications</i>
        {{ include('admin/product/_form.html.twig') }}
    </div>
{% endblock %}

