{% extends 'base.html.twig' %}

{% block title 'Éditer le produit' %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer le produit {{ product.reference }}</h1>
        {{ include('admin/product/_form.html.twig') }}
    </div>
{% endblock %}

