{% extends 'mail_base.html.twig' %}

{% block body %}
    <h1 class="mail-header">Mot de passe réinitialisé</h1>

    Bonjour {{ user.username }}, votre mot de passe a bien été réinitialisé.

    Pour vous connecter, cliquez sur le bouton ci-dessous.

    <a href="{{ url }}">Connexion</a>

    Merci!
{% endblock %}