{% extends 'mail_base.html.twig' %}

{% block body %}
    <h1 class="mail-header">Demande de remise à zéro du mot de passe</h1>

    Bonjour {{ user.username }}, nous avons reçu une demande de remise à zéro de votre mot de passe.

    Pour réinitialiser votre mot de passe, cliquez sur le bouton ci-dessous.

    <a href="{{ url }}">Réinitialiser le mot de passe</a>

    Merci!
{% endblock %}