{% extends 'mail_base.html.twig' %}

{% block body %}
    <h1 class="mail-header">Demande de remise à zéro du mot de passe</h1>

    Bonjour {{ user.username }}, votre compte vient d'être créer, vous devez maintenant définir un mot de passe.

    Pour définir votre mot de passe, cliquez sur le bouton ci-dessous.

    <a href="{{ url }}">Définir le mot de passe</a>

    Merci!
{% endblock %}